@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h5{
    font-family: 'Montserrat', sans-serif;        
    font-size: 20px;
    line-height: 27px;
}
.normal{
    font-weight: 400;
}
.bold{
    font-weight: 700;
}
.bgVerde{
    background: #348F6C;
}
.txVerde{
    color: #348F6C;
}